.navBar {
    background-image: url(Assets/SVG/MergedBar-61.svg);
    height: 10vh;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.jaune {
    background-color: #F4CF1B;
    height: 25vh;
}

.leftSide {
    width: 50%;
    /* background-color: violet; */
}

.rightSide {
    width: 50%;
    /* background-color: rgb(92, 59, 92); */
}

.rightSide>img {
    width: 100%;
}

button {
    background-image: url(Assets/SVG/MergedBar-61.svg);
    background-repeat: no-repeat;
}

button:hover {
    color: white !important;
    background-color: rgba(0, 0, 255, 0.678);
}

.circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

section {
    margin: 0 100px 0 100px;
    padding: 50px;
    background-color: rgb(235, 235, 235);
}