.navBar {
    background-image: url(Assets/SVG/MergedBar-61.svg);
    height: 10vh;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.jaune {
    background-color: #F4CF1B;
    height: 25vh;
}

.leftSide {
    width: 50%;
    /* background-color: violet; */
}

.rightSide {
    width: 50%;
}

.rightSide>img {
    width: 100%;
}

button {
    background-image: url(Assets/SVG/MergedBar-61.svg);
    background-repeat: no-repeat;
}

button:hover {
    color: white !important;
    background-color: rgba(0, 0, 255, 0.678);
}

.circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

section {
    margin: 0 100px 0 100px;
    padding: 50px;
    background-color: rgb(235, 235, 235);
}

header>div>ul>li>.flag {
    width: 80px;
}

header>div>ul>li>a>img {
    width: 80%;
}

.flag {
    border-radius: 100px;
}

@media screen and (max-width: 768px) {
    .jaune {
        background-color: #F4CF1B;
        height: 35vh;
    }
    .demarrerTest {
        display: flex;
        flex-direction: column-reverse;
    }
    .rightSide {
        width: 100%;
    }
    .leftSide {
        width: 100%;
    }
    /* header>.logo {
        margin-left: 0 !important;
    } */
    header>.logo>a {
        /* margin-left: 25px !important; */
    }
    /* header>.menu {
        margin-right: 0 !important;
    } */
    header>.menu>ul {
        margin-right: 0 !important;
    }
}